{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="/static/prj/css/page.css" type="text/css" />
{% endblock %}

{% block content %}
<section id="main-contents" class="section">
  <div id="project-form" class="container">
    <div class="columns is-centered">
      <div class="column is-narrow is-three-fifths">
        <form name="create_prj_form" onsubmit="chkform()"">
          <div class="field">
            <label class="label">プロジェクト名</label>
            <div class="control">
              <input class="input" type="text" name="name" placeholder="必須">
            </div>
          </div>

          <div class="field">
            <label class="label">プロジェクトのゴール／ミッション</label>
            <div class="control">
              <input class="input" type="text" name="goal" placeholder="必須">
            </div>
          </div>

          <div class="field">
            <label class="label">課題・背景</label>
            <div class="control">
              <textarea class="textarea" name="issue" placeholder="なぜやるのか？ 抱えている課題とは？"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">プロジェクト概要</label>
            <div class="control">
              <textarea class="textarea" name="description" placeholder="なにをやるのか？"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">プロジェクト期間</label>
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" name="term" placeholder="整数">
              </div>
              <div class="control">
                <span class="select">
                  <select name="term_unit">
                    <option value="day">日</option>
                    <option value="week">週</option>
                    <option value="month">ヵ月</option>
                  </select>
                </span>
              </div>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-narrow is-three-fifths">
              <div class="field is-grouped">
                <div class="control" style="width:100%;">
                  <button class="button is-link" type="submit" style="width:100%;">登録</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
{% endblock %}

{% block js %}
<script async src="/static/prj/js/page.js"></script>
{% endblock %}