{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="../../static/prj/css/page.css" type="text/css" />
{% endblock %}

{% block content %}
<section id="main-contents" class="section">
  <div id="projects-list" class="container">
    <div class="columns is-centered">
      <div class="column is-narrow is-three-fifths">
        <div class="field has-addons">
          <div class="control" style="width:100%;">
            <input class="input" type="text" placeholder="キーワードを入力">
          </div>
          <div class="control">
            <a class="button is-success">
              絞り込み
            </a>
          </div>
        </div>
      </div>
    </div>

    <h2 class="title is-2">プロジェクト一覧</h2>
    <div class="columns is-multiline">
      {% for i in data %}
      <div class="column is-4">
        <div class="card" onclick="location.href=`prj/show/{{ data[loop.index0]['prj_id'] }}`" style="cursor:pointer">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="https://unsplash.it/400/225?d={{ loop.index0 }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://placekitten.com/96/96?d={{ loop.index0 }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                {% set leader = {"user_name": "N/A"} %}
                {% set outer_loop = loop %}
                <p class="subtitle is-6">プロジェクトオーナー</p>
                {% for j in data[outer_loop.index0]['members'] %}
                  {% if 'leader' == data[outer_loop.index0]['members'][loop.index0]['member_type'] %}
                    <p class="title is-4">{{data[outer_loop.index0]['members'][loop.index0]['user_name']}}</p>
                    {% set leader = data[outer_loop.index0]['members'][loop.index0] %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="content">
              <p class="title is-4 fixed-height">{{ data[loop.index0]['name'] }}</p>
              <br>
              {% set start_date = data[loop.index0]['start_date'] %}
              {% set start_date = start_date if start_date else "not started" %}
              <time datetime="{{ start_date }}">{{ start_date }}</time>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>
{% endblock %}

{% block js %}
<script async src="../../static/prj/js/page.js"></script>
{% endblock %}