{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="/static/prj/css/page.css" type="text/css" />
<link rel="stylesheet"
  href="/static/common/node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline.min.css">
<link rel="stylesheet" href="/static/common/node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.min.css">
{% endblock %}

{% block content %}
{% set herostyle = 'background: url("/prj/jrnpoiajoiaj/gQxPS0yQIZxN1L7aLWjpy4JUIBpQQ33V.png") center; background-size: cover; height: 56.25vw;' if 'photo_id' in data else '' %}
{% set titlestyle = 'background-color: #6666;padding: 1rem;width: 100vw;text-align: center;' if 'photo_id' in data else ''%}
<section class="hero is-medium is-primary is-bold" style="{{ herostyle }}">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <h1 class="title is-1" style="{{ titlestyle }}">
            {{ data['name'] }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-contents" class="section">
  <div id="project-form" class="container">
    <div class="columns">
      <div class="column is-8">
        <article class="message is-primary">
          <div class="message-header">
            <p>プロジェクトのゴール／ミッション</p>
          </div>
          <div class="message-body">
            {{ data['goal'] }}
          </div>
        </article>

        <article class="message is-link">
          <div class="message-header">
            <p>課題・背景　　なぜやるのか？ 抱えている課題とは？</p>
          </div>
          <div class="message-body">
            {{ data['issue'] }}
          </div>
        </article>

        <article class="message is-warning">
          <div class="message-header">
            <p>プロジェクト概要　　なにをやるのか？</p>
          </div>
          <div class="message-body">
            {{ data['description'] }}
          </div>
        </article>

        {% if 'is_complete' in data and data['is_complete'] %}
        <article class="message is-danger">
          <div class="message-header">
            <p>プロジェクトの成果　　なにを成し遂げたか？</p>
          </div>
          <div class="message-body">
            {{ data['outcome'] }}
          </div>
        </article>
        {% endif %}
      </div>
      <div class="column is-4">
        <article class="message is-info">
          <div class="message-header">
            <p>関連リンク（成果物やドキュメント）</p>
          </div>
          <div class="message-body">
            {% if "links" in data and data["links"] | length > 0 %}
            {% for i in data['links'] %}
            {% if data['links'][loop.index0]['disclosure_range'] == 'public' or data['is_joined'] %}
            {% set disclosure_range = '（全体公開）' if data['links'][loop.index0]['disclosure_range'] == 'public' else '（メンバーのみ）' %}
            <a href="{{data['links'][loop.index0]['link_url'] }}"
              target='_blank'>{{ disclosure_range }}{{ data['links'][loop.index0]['link_title'] }}</a>
            <br>
            {% endif %}
            {% endfor %}
            <br>
            {% else %}
            <p>なし</p>
            {% endif %}
            {% if 'is_complete' not in data or not data['is_complete'] %}
            {% if data['is_joined'] %}
            <div>
              <span class="tag is-medium is-info is-light linkadd-form" onclick="$('.linkadd-form').toggle(400);"
                style="cursor: pointer; width:100%;"><i class="fa fa-plus"></i>&nbsp関連リンクを追加する</span>
              <form class="linkadd-form" method="post" action="/prj/addLink" style="display: none;">
                <div class="field">
                  <label class="label" style="text-align: left;">タイトル</label>
                  <div class="control">
                    <span id="btn-close-linkadd-form" class="icon is-small is-right is-light"
                      onclick="$('.linkadd-form').toggle(400);">
                      <i class="fas fa-times"></i>
                    </span>
                    <input class="input" type="text" name="link_title" placeholder="リンク名"></input>
                  </div>
                </div>
                <div class="field">
                  <label class="label" style="text-align: left;">URL</label>
                  <div class="control">
                    <input class="input" type="text" name="link_url" placeholder="https://your-link.com/"></input>
                  </div>
                </div>
                <div class="field">
                  <label class="label">公開範囲</label>
                  <div class="field has-addons">
                    <div class="control">
                      <span class="select">
                        <select name="disclosure_range"">
                          <option value=" public">全体公開</option>
                          <option value="private">プロジェクトメンバーのみ</option>
                        </select>
                      </span>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="event" value="関連リンク追加" />
                <div class="field is-grouped">
                  <div class="control" style="width:100%;">
                    <button id="prj-add-link-btn" class="button is-info is-light is-full" type="submit"
                      style="width:100%"><i class="fa fa-plus"></i>&nbsp関連リンクを追加する</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
            {% endif %}
          </div>
        </article>
        <article class="message is-info">
          <div class="message-header">
            <p>プロジェクトメンバー</p>
          </div>
          <div class="message-body">
            {% for i in data['members'] %}
            {% if 'leader' == data['members'][loop.index0]['member_type'] %}
            <p class="subtitle is-6">プロジェクトリーダー</p>
            {% else %}
            <p class="subtitle is-6">メンバー</p>
            {% endif %}
            <p class="title is-4">{{data['members'][loop.index0]['user_name']}}</p>
            {% endfor %}
          </div>
        </article>
        {% if 'is_complete' in data and data['is_complete'] %}
        <button id="prj-complete-tag" class="button is-light is-full" style="width:100%;">
          <span class="has-text-weight-bold"><i class="fa fa-ban"></i> このプロジェクトは終了しました</span>
        </button>
        {% else %}
        {% if not data['is_joined'] %}
        <button id="prj-join-btn" class="button is-info is-full" onclick="joinProject({{data['is_login'] | int }})"
          style="width:100%;">
          <span class="has-text-weight-bold"><i class="fa fa-user-plus"></i> このプロジェクトに参加する</span>
        </button>
        {% endif %}
        {% if data['is_leader'] %}
        <a id="prj-update-btn" class="button is-info is-full" href="/prj/update_entry/{{data['prj_id']}}"
          style="width:100%;">
          <span class="has-text-weight-bold"><i class="fa fa-edit"></i> プロジェクトの内容を変更する</span>
        </a>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-narrow is-6">
        <h3 class="title is-3">プロジェクトの出来事</h3>
        <div class="timeline is-centered">
          <header class="timeline-header">
            <span class="tag is-medium is-primary">{{ data['start_date'] }}</span>
          </header>
          <div class="timeline-item is-primary">
            <div class="timeline-marker is-primary"></div>
            <div class="timeline-content">
              <p class="heading">プロジェクト作成</p>
            </div>
          </div>
          {% for i in data['timeline'] %}
          {% set outer_loop = loop %}
          <header class="timeline-header">
            <span class="tag is-primary">{{ data['timeline'][loop.index0]['date_label'] }}</span>
          </header>
          {% for j in data['timeline'][loop.index0]['events'] %}
          <div class="timeline-item is-danger">
            <div class="timeline-marker is-danger is-icon">
              <i class="fa fa-flag"></i>
            </div>
            <div class="timeline-content">
              <p class="heading">{{ data['timeline'][outer_loop.index0]['events'][loop.index0]['type'] }}</p>
              {% if data['timeline'][outer_loop.index0]['events'][loop.index0]['disclosure_range'] == 'public' or data['is_joined'] %}
              <p>{{ data['timeline'][outer_loop.index0]['events'][loop.index0]['detail'] | safe }}</p>
              {% else %}
              <p>非公開の出来事が起こりました。（プロジェクトメンバーのみ閲覧可。）</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          {% endfor %}
          {% if 'is_complete' in data and data['is_complete'] %}
          <header class="timeline-header">
            <span class="tag is-medium is-primary">プロジェクト完了</span>
          </header>
          {% else %}
          {% if data['is_joined'] %}
          <header class="timeline-header">
            <span class="tag is-medium is-primary timeline-form" onclick="$('.timeline-form').toggle(400);"
              style="cursor: pointer;"><i class="fa fa-plus"></i>&nbsp出来事を追加する</span>
            <form class="timeline-form" method="post" action="/prj/addTimeline" style="display: none;">
              <div class="field">
                <label class="label" style="text-align: left;">出来事</label>
                <div class="control">
                  <span id="btn-close-timeline-form" class="icon is-small is-right is-light"
                    onclick="$('.timeline-form').toggle(400);">
                    <i class="fas fa-times"></i>
                  </span>
                  <input type="hidden" name="event" value="マイルストーン達成" />
                  <textarea class="textarea" name="detail" placeholder="今日何が起こりましたか？"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control" style="width:100%;">
                  <button id="prj-add-timeline-btn" class="button is-primary is-full" type="submit"><i
                      class="fa fa-plus"></i>&nbsp出来事を追加する</button>
                </div>
              </div>
            </form>
          </header>
          {% else %}
          <header class="timeline-header">
            <span class="tag is-medium is-primary">Now In Progress</span>
          </header>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if data['is_leader']%}
    <div class="is-divider" data-content="プロジェクト管理エリア"></div>
    <div class="columns is-centered">
      {% if 'is_complete' in data and data['is_complete'] %}
      <div class="column is-narrow is-9">
        <h3 class="title is-3">プロジェクトは終了しています</h3>
        <form>
          <input type="hidden" name="event" value="プロジェクト再開" />
          <div class="field is-grouped">
            <div class="control" style="width:100%;">
              <button id="prj-uncomplete-btn" class="button is-primary is-full"
                style="width:100%">プロジェクトを再開する（未実装）</button>
            </div>
          </div>
        </form>
      </div>
      {% else %}
      <div class="column is-narrow is-9">
        <h3 class="title is-3">成果を登録してプロジェクトを終了する</h3>
        <form method="post" action="/prj/complete">
          <div class="field">
            <label class="label">プロジェクト成果</label>
            <div class="control">
              <textarea class="textarea" name="outcome" placeholder="このプロジェクトで何を成し遂げたか？"></textarea>
            </div>
          </div>
          <input type="hidden" name="event" value="プロジェクト完了" />
          <div class="field is-grouped">
            <div class="control" style="width:100%;">
              <button id="prj-complete-btn" class="button is-danger is-full" type="submit"
                style="width:100%">プロジェクトを終了する（戻せません）</button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>

<div id="modal-login-for-join-project" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ログインしてプロジェクトに参加する</p>
      <button class="delete" aria-label="close" onclick="$('#modal-login-for-join-project').removeClass('is-active')"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      プロジェクトに参加するためにはログインする必要があります。<br>
      ログインしますか？
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="fbLoginForJoinProject()">ログインする</button>
      <button class="button" onclick="$('#modal-login-for-join-project').removeClass('is-active')">キャンセル</button>
    </footer>
  </div>
</div>
{% endblock %}

{% block js %}
<script async src="/static/prj/js/page.js"></script>

{% endblock %}