{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="/static/prj/css/page.css" type="text/css" />
<link rel="stylesheet"
  href="/static/common/node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline.min.css">
<link rel="stylesheet" href="/static/common/node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.min.css">
{% endblock %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <h1 class="title is-1">
            {{ data['name'] }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-contents" class="section">
  <div id="project-form" class="container">
    <div class="columns">
      <div class="column is-8">
        <article class="message is-primary">
          <div class="message-header">
            <p>プロジェクトのゴール／ミッション</p>
          </div>
          <div class="message-body">
            {{ data['goal'] }}
          </div>
        </article>

        <article class="message is-link">
          <div class="message-header">
            <p>課題・背景　　なぜやるのか？ 抱えている課題とは？</p>
          </div>
          <div class="message-body">
            {{ data['issue'] }}
          </div>
        </article>

        <article class="message is-warning">
          <div class="message-header">
            <p>プロジェクト概要　　なにをやるのか？</p>
          </div>
          <div class="message-body">
            {{ data['description'] }}
          </div>
        </article>

        {% if 'is_complete' in data %}
        <article class="message is-danger">
          <div class="message-header">
            <p>プロジェクトの成果　　なにを成し遂げたか？</p>
          </div>
          <div class="message-body">
            {{ data['outcome'] }}
          </div>
        </article>
        {% endif %}
      </div>
      <div class="column is-4">
        <article class="message is-info">
          <div class="message-header">
            <p>プロジェクトメンバー</p>
          </div>
          <div class="message-body">
            {% for i in data['members'] %}
            {% if 'leader' == data['members'][loop.index0]['member_type'] %}
            <p class="subtitle is-6">プロジェクトリーダー</p>
            {% else %}
            <p class="subtitle is-6">メンバー</p>
            {% endif %}
            <p class="title is-4">{{data['members'][loop.index0]['user_name']}}</p>
            {% endfor %}
          </div>
        </article>
        {% if 'is_complete' in data %}
        <button id="prj-complete-tag" class="button is-light is-full" style="width:100%;">
          <span class="has-text-weight-bold"><i class="fa fa-stop-circle-o"></i> このプロジェクトは終了しました</span>
        </button>
        {% else %}
        {% if not data['is_joined'] %}
        <button id="prj-join-btn" class="button is-info is-full" onclick="joinProject({{data['is_login'] | int }})"
          style="width:100%;">
          <span class="has-text-weight-bold"><i class="fa fa-user-plus"></i> このプロジェクトに参加する</span>
        </button>
        {% endif %}
        {% if data['is_leader'] %}
        <a id="prj-update-btn" class="button is-info is-full" href="/prj/update_entry/{{data['prj_id']}}"
          style="width:100%;">
          <span class="has-text-weight-bold"><i class="fa fa-edit"></i> プロジェクトの内容を変更する</span>
        </a>
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-narrow is-6">
        <h3 class="title is-3">プロジェクトの出来事</h3>
        <div class="timeline is-centered">
          <header class="timeline-header">
            <span class="tag is-medium is-primary">{{ data['start_date'] }}</span>
          </header>
          <div class="timeline-item is-primary">
            <div class="timeline-marker is-primary"></div>
            <div class="timeline-content">
              <p class="heading">プロジェクト作成</p>
            </div>
          </div>
          {% for i in data['timeline'] %}
          {% set outer_loop = loop %}
          <header class="timeline-header">
            <span class="tag is-primary">{{ data['timeline'][loop.index0]['date_label'] }}</span>
          </header>
          {% for j in data['timeline'][loop.index0]['events'] %}
          <div class="timeline-item is-danger">
            <div class="timeline-marker is-danger is-icon">
              <i class="fa fa-flag"></i>
            </div>
            <div class="timeline-content">
              <p class="heading">{{ data['timeline'][outer_loop.index0]['events'][loop.index0]['type'] }}</p>
              <p>{{ data['timeline'][outer_loop.index0]['events'][loop.index0]['detail'] }}</p>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
          {% if data['is_joined'] %}
          <header class="timeline-header">
            <span class="tag is-medium is-primary timeline-form" onclick="$('.timeline-form').toggle(400);" style="cursor: pointer;"><i
                class="fa fa-plus"></i>&nbsp出来事を追加する</span>
            <form class="timeline-form" method="post" action="/prj/addTimeline" style="display: none;">
              <div class="field">
                <label class="label" style="text-align: left;">出来事</label>
                <div class="control">
                  <span id="btn-close-timeline-form" class="icon is-small is-right is-light" onclick="$('.timeline-form').toggle(400);">
                    <i class="fas fa-times"></i>
                  </span>
                  <input type="hidden" name="event" value="マイルストーン達成" />
                  <textarea class="textarea" name="detail" placeholder="今日何が起こりましたか？"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control" style="width:100%;">
                  <button id="prj-add-timeline-btn" class="button is-primary is-full"
                    type="submit"><i class="fa fa-plus"></i>&nbsp出来事を追加する</button>
                </div>
              </div>
            </form>
          </header>
          {% else %}
          <header class="timeline-header">
            <span class="tag is-medium is-primary">Now In Progress</span>
          </header>
          {% endif %}
        </div>
      </div>
    </div>
    {% if data['is_leader'] %}
    <div class="is-divider" data-content="プロジェクト管理エリア"></div>
    <div class="columns is-centered">
      <div class="column is-narrow is-9">
        <h3 class="title is-3">成果を登録してプロジェクトを終了する</h3>
        <form method="post" action="/prt/complete">
          <div class="field">
            <label class="label">プロジェクト成果</label>
            <div class="control">
              <textarea class="textarea" name="outcome" placeholder="このプロジェクトで何を成し遂げたか？"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control" style="width:100%;">
              <button id="prj-complete-btn" class="button is-danger is-full" type="submit"
                style="width:100%">プロジェクトを終了する（戻せません）</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</section>

<div id="modal-login-for-join-project" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ログインしてプロジェクトに参加する</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      プロジェクトに参加するためにはログインする必要があります。<br>
      ログインしますか？
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="fbLoginForJoinProject()">ログインする</button>
      <button class="button">キャンセル</button>
    </footer>
  </div>
</div>
{% endblock %}

{% block js %}
<script async src="/static/prj/js/page.js"></script>

{% endblock %}