<footer class="footer">
  <div class="columns">
    <div class="column is-8">
      <p>プロジェクトを通して、モノを作るだけでなく、かけがえのない仲間と思い出を作りたい。</p>
      <p>Stay Homeで余った時間を利用して、一緒にプロジェクトに取り組んでみましょう！</p>
    </div>
    <div class="column is-4">
      <aside class="menu">
        <p class="menu-label">
          プロジェクト作成・管理
        </p>
        <ul class="menu-list">
          <li><a href="/">新しく作る</a></li>
          <li><a href="/">マイプロジェクトを見る</a></li>
        </ul>
        <p class="menu-label">
          プロジェクトを探す（未実装）
        </p>
        <ul class="menu-list">
          <li><a href="/">プロジェクトで検索（未実装）</a></li>
          <li><a href="/">ユーザで検索</a></li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="content has-text-centered">
    <p>
      <strong>bucciaranki</strong> by <a href="/">bucciaranki</a>.
    </p>
  </div>
</footer>