{% extends "layout.html" %}
{% block css %}
<style type="text/css">
.fixed-height {
  height: 5rem;
  max-height: 5rem;
  min-height: 5rem;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

figure.image.is-16by9 > img {
  object-fit: cover;
}</style>
{% endblock %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <h1 class="title is-1">
            能力シェア&nbspで&nbspかけがえのない体験を。
          </h1>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-narrow is-three-fifths">
          <div class="field has-addons">
            <div class="control" style="width:100%;">
              <input id="search-box" class="input" type="text" placeholder="キーワードを入力" tabindex="1" onchange="filter()">
            </div>
            <div class="control">
              <button class="button is-success" onclick="filter()" tabindex="2">
                絞り込み
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-contents" class="section">
  <div id="projects-list" class="container">

    <h2 class="title is-2">プロジェクト一覧</h2>
    <div class="columns is-multiline">
      {% for i in data %}
      <div id="{{ data[loop.index0]['prj_id'] }}" class="column is-4">
        <div class="card" onclick="location.href=`prj/show/{{ data[loop.index0]['prj_id'] }}`"
          style="cursor:pointer; {{ 'background-color: #eee;' if 'is_complete' in data[loop.index0] and data[loop.index0]['is_complete'] else '' }}">
          <div class="card-image">
            <figure class="image is-16by9">
              {% set img_url = '/prj/jrnpoiajoiaj/' + data[loop.index0]['photo_id'] if 'photo_id' in data[loop.index0] else 'https://unsplash.it/400/225?d=' + loop.index0 | string() %}
              <img src="{{ img_url }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://placekitten.com/96/96?d={{ loop.index0 }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                {% set leader = {"user_name": "N/A"} %}
                {% set outer_loop = loop %}
                <p class="subtitle is-6">プロジェクトリーダー</p>
                {% for j in data[outer_loop.index0]['members'] %}
                {% if 'leader' == data[outer_loop.index0]['members'][loop.index0]['member_type'] %}
                <p class="title is-4">{{data[outer_loop.index0]['members'][loop.index0]['user_name']}}</p>
                {% set leader = data[outer_loop.index0]['members'][loop.index0] %}
                {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="content">
              <p class="title is-4 fixed-height">{{ data[loop.index0]['name'] }}</p>
              <br>
              <div>
                <time datetime="{{ start_date }}">{{ data[loop.index0]['start_date'] }}</time>
                {% if 'is_complete' in data[loop.index0] and data[loop.index0]['is_complete'] %}
                {% set end_date = data[loop.index0]['start_date'] %}
                - <time datetime="{{ end_date }}">{{ data[loop.index0]['end_date'] }}</time>
                <span class="tag is-dark" style>終了</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}

{% block js %}
{% set DATA = [] %}
{% for i in data %}
{% set item = {'prj_id': data[loop.index0]['prj_id'], 'name': data[loop.index0]['name'], 'members': data[loop.index0]['members'][0]['user_name'] }%}
{{ DATA.append(item) }}
{% endfor %}
<script async src="/static/top/js/page.js"></script>
<script type="text/javascript" id="dataLoader">
  var data = {{ DATA | safe }}
  document.querySelector('#dataLoader').remove()
</script>
{% endblock %}